aenum
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
azure-ai-textanalytics
azure-common
azure-core
azure-functions
azure-functions-durable
certifi
charset-normalizer
Deprecated
distro
exceptiongroup
frozenlist
furl
future
h11
httpcore
httpx
idna
isodate
line-bot-sdk
multidict
openai==0.28.1
orderedmultidict
pydantic
pydantic_core
python-dateutil
requests
six
sniffio
tqdm
typing_extensions
urllib3
wrapt
yarl
